<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="pokomonConnectionString" connectionString="Data Source=pc048000110;Initial Catalog=pokomon;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />
    <add name="weizenmyConnectionString" connectionString="Data Source=pc048000110;Initial Catalog=weizenmy;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <!-- 🚀 規則 1：轉發指令給 Python -->
        <rule name="ProxyTeleport" stopProcessing="true">
          <match url="^teleport$" />
          <action type="Rewrite" url="http://127.0.0.1:9000/teleport" appendQueryString="true" />
        </rule>
        <!-- 🚀 規則 2：轉發狀態查詢 -->
        <rule name="ProxyStatus" stopProcessing="true">
          <match url="^get_status$" />
          <action type="Rewrite" url="http://127.0.0.1:9000/get_status" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <!-- 🚀 關鍵核心：針對指令路徑，停用所有 ASP.NET 模組，避免 DLL 版本檢查 -->
  <location path="teleport">
    <system.webServer>
      <modules>
        <clear /> <!-- 徹底清除所有受管理模組 -->
      </modules>
      <handlers>
        <clear />
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" />
      </handlers>
    </system.webServer>
  </location>

  <location path="get_status">
    <system.webServer>
      <modules><clear /></modules>
      <handlers>
        <clear />
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" />
      </handlers>
    </system.webServer>
  </location>

  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="Off" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>